#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(243 244 246);
}

.logo {
  height: 6em;
  padding: 1.5em; 
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

::selection {
  background: #FF544D; 
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.color-pallete {
  background-color: #f1f9ff59;
  border-radius: 0.5rem;
  border: 1.5px solid rgb(255, 255, 255);
  box-shadow: inset 2px 1px 8px #ffffff66, 2px 4px 10px #00000030;
  position: fixed;
  bottom: 20px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  left: 50%; 
  transform: translateX(-50%); 
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
}

.color-option {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  caret-color: transparent;
  padding: 10px;
  border-radius: 2px;
}

.toolbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #f1f9ff59;
  padding: 0.9rem;
  /* border-width: 1px;
  border-color: #d1d5db;
  border-radius: 1rem;*/
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: inset 2px 1px 8px #ffffff4c, 2px 2px 15px #0000001a;
}

.toolbar-button, .toolbar-button-mobile, .toolbar-fab {
  background-color: #efefef;
  border-radius: 5px;
  /* box-shadow: 2px 2px 8px #0d275059, -3px -3px 7px #ffffff; */
  padding: 0.4rem;
  font-size: 1.3rem;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  /* box-shadow: -3px -3px 7px 0px rgba(255, 255, 255, 1), 2px 2px 8px 0px rgba(13, 39, 80, 0.4);*/
}

.toolbar-button-mobile {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toolbar-fab {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.toolbar-fab:active {
  border-radius: 50%;
}


.mode-slider {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #ffffff; */
  padding: 0.5rem; /* ORIG 1rem */
  /* border-width: 1px; */
  /* border-color: #d1d5db; */
  /* border-radius: 0.25rem; */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  /* z-index: 50; */
}

.slider-circle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  padding-left: 9px; /* ORIG 7px */
  font-size: 36px; /* ORIG 26px */
  transition: 0.4s;
  color: #5E5F5F;
  font-weight: bold;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 140px; /* ORIG 100px */
  height: 56px; /* ORIG 40px */
  /* margin-right: 10px; */
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-text-build {
  position: absolute;
  top: 20%; 
  left: 15%;
  color: #5E5F5F;
  font-weight: bold;
  font-size: 20px;
  transition: 0.4s;
  transform: translateY(2px);
}

.slider-text-move {
  position: absolute;
  top: 20%; 
  left: 50%; /* ORIG 45% */
  color: #5E5F5F;
  font-weight: bold;
  font-size: 20px;
  transition: 0.4s;
  transform: translate(-3px, 2px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F8FBFD;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 0 -4px 6px 0 rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(0,0,0,0.1), inset 0 4px 4px rgba(0, 0, 0, 0.3), inset 0 -1px 6px 0 rgba(255, 255, 255, 0.85);
}

.slider:before {
  position: absolute;
  content: "";
  height: 56px; /* ORIG 40px */
  width: 56px; /* ORIG 40px */
  /* left: 4px; */
  /* bottom: 3px; */
  background-color: #D3F4FF;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  left: 0%;
}

input:checked + .slider .slider-circle {
  transform: translate(84px, -50%); /* ORIG 60px */
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(84px); /* ORIG 60px */
  transition: 0.4s;
  background-color: #FFD3D3;
}

.quick-guide {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 50;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  color: #5E5F5F;
}

.quick-guide-button {
  background-color: #FFFFFF;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  color: #5E5F5F;
  font-weight: bold;
  transition: width 0.3s ease-in-out;
}

.confirm-btn:active {
  border-radius: 9999px;
}

.quick-guide-button:focus {
  border: none;
  outline: none;
}

.quick-guide-button-closed {
  width: 150px;
}

.quick-guide-button-open {
  width: 100%;
}

.quick-guide-text {
  margin-right: 0.5rem;
}

.quick-guide-icon {
  font-size: 0.875rem;
  transition: all;
}
.quick-guide-dropdown {
  position: absolute;
  margin-top: 0.5rem;
  top: calc(100% + 0.1rem);
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #F8FBFD;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden; 
  transition: opacity 0.1s ease-in, transform 0.1s ease-in, visibility 0.1s ease-in;
}

.quick-guide-dropdown.show {
  opacity: 1;
  visibility: visible; 
}

.quick-guide-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0;
}

.quick-guide-item-label {
  font-weight: 600;
}

.quick-guide-item-description {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  /* flex-grow: 1; */
}

.quick-guide-item-icon {
  font-size: 1rem;
  color: #5E5F5F;
  flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.quick-guide-icon.rotate-up {
  transform: rotate(-180deg); 
  transition: transform 0.3s ease-in-out;
}

.quick-guide-icon.rotate-down {
  transform: rotate(0deg); 
  transition: transform 0.3s ease-in-out;
}

.snackbar {
  -webkit-user-select: none;
  user-select: none;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.countdown-timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 1.25rem 0;
  -webkit-user-select: none;
  user-select: none;
}

.timer-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-text {
  font-size: 3.5rem;
  font-weight: 650;
  color: #202020;
  width: 2ch; 
  text-align: center;
}

.timer-labels {
  font-size: 1rem; 
  font-weight: 600;
  color: #202020; 
  margin-top: -15px;
}

.timer-separator {
  font-size: 3rem; 
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace; /* Match font for separators */
  color: #363636;
  margin-top: -10px; 
}

@media (max-width: 1024px) {
  .timer-text {
    font-size: 2.25rem; 
  }

  .timer-labels {
    font-size: 0.8rem; 
    margin-top: -10px;
  }

  .timer-separator {
    font-size: 2.25rem; 
  }
}
